html, body {
  height: 100%;
  width: 100%;
}

#status {
  margin-top: 60px;
  font-size: 2em;
  text-align: center;
}

#titleField, #authorField, #notesField, #imageField{
  /* width:35%; */
}

#bookStatus, #ratingField{
  width:100%;
  /* vertical-align: top; */
}
label{
  vertical-align: bottom;
}
