html, body {
  height: 100%;
  width: 100%;
}

#status {
  /* margin-top: 60px; */
  font-size: 2em;
  text-align: center;
}

#bookStatus, #ratingField{
  width:100%;
  /* vertical-align: top; */
}
label{
  vertical-align: bottom;
}

.bookTable{
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
}
.bookImg{
  max-height: 150px;
  float:left;
}
.titleImage{
  min-width: 200px;
}
.bookRating{
  width: 10px;
}
